<%- include('./includes/header'); %>

    <title>
        <%= pathSite.nom_site %> - Qui sommes-nous ?
    </title>

    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-gradient-primary mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h5 class="page-header-title">
                                    <div class="page-header-icon"><i class="fa fa-question-circle"></i></div>
                                    Qui sommes-nous ?
                                </h5>
                                <div class="page-header-subtitle">Mais Tool-Labs c'est quoi au juste ?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">

                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center">
                        <div class="ml-3">
                            <h2 class="my-3">Mais, c'est quoi <%= pathSite.nom_site %> ?</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Nous sommes une équipe passionnée qui a débuté en créant un toolkit pour aider les utilisateurs à exceller dans leurs CTF. Ce fut le point de départ, mais nous avons rapidement réalisé qu'il y avait tellement plus à offrir... <br>Ainsi, nous avons ouvert un serveur Discord qui, à l'origine, était destiné à être un simple support.<br><br> Cependant, pourquoi s'arrêter là ? <br><br>Nous avons pris la décision d'importer les défis directement sur Discord, offrant ainsi une expérience à la fois simple et divertissante.<br> Pour rendre le tout plus interréssant, nous avons récemment ouvert notre propre shop, vous permettant d'acquérir de véritables item pour rendre vos succès encore plus attrayants.<br> Nous sommes ravis de partager cette aventure avec vous et de vous accompagner dans votre parcours vers la réussite des C.T.F's !</p>
                    </div>
                </div>
            </div>

            <%- include('./includes/footer'); %>