<%- include('./includes/header'); %>

    <title>
        <%= pathSite.nom_site %> - Mise à jour
    </title>

    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-gradient-primary mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h5 class="page-header-title">
                                    <div class="page-header-icon"><i class="fa fa-refresh"></i></div>
                                    Mises à jour
                                </h5>
                                <div class="page-header-subtitle">Actualités & Mises à jour<br>Restez connecté pour suivre les nouveauté</div>
                            
            </header>

              <div class="container-xl px-7 mt-n10">
   
        <center>
            <div class="alert alert-primary alert-solid" role="alert"><i class="fas fa-info-circle"></i>
                <b>Information</b><br>
                <marquee scrollamount="5">Plusieurs mises à jour se préparent pour notre site internet. Restez connectés ! </marquee>
 </center>
 <br>
 <br>
 <br>
 <br>

           <p></p><div class="discord darkmode">

<p></p><div class="channel">

<p><span class="hash">#</span> <span class="channelname">Mises à jour  & Actualités</span></p></div>
  

  <div class="message">

<p>
      <img src="https://cdn.discordapp.com/avatars/219593025817411585/19085b883a3271e46dbab25c0a8a3fe6.png?size=256" />
    </p>







<p><span class="name role3">Zulu</span> <span class="hide">(</span><span class="timestamp">Aujourd'hui à 11:57 </span><br />
 Aujourd'hui nous avons décidé d'ouvrir cette boutique pour donner plus d'intêret à nos challenges C.T.F ! <br><span class="edited">(edited)</span></p>  </p></div>

 

  

  <div class="message">
<p>
      <img src="https://tool-labs.com/azer.png" />
   

<p><span class="name role3">Tool-Labs C.T.F</span> <span class="hide">(</span> <span class="timestamp">Aujourd'hui à 11:47 </span><br />
UPDATE DU : 30/10/2023 <br>La boutique prends forme et est bientôt fonctionnelle !  <span class="hide">)</span><br />
</span>
  </div>











<div class="message">
<p>
      <img src="https://tool-labs.com/azer.png" />
   

<p><span class="name role3">Tool-Labs C.T.F</span> <span class="hide">(</span> <span class="timestamp">Aujourd'hui à 11:47 </span><br />
UPDATE DU : 05/10/2023 <br>Nous ajoutons les futurs produits et tous sera prêt !  <span class="hide">)</span><br />
</span>
  </div>







  <div class="message">
<p>
      <img src="https://cdn.discordapp.com/avatars/1044283658489561098/1cdd6b8a6441a2a364b42bbdf724e203.png?size=256" />
    </p>





<p><span class="name role3">0xL5x9</span> <span class="hide">(</span><span class="timestamp">Aujourd'hui à 11:40 </span><span class="hide">)</span><br />
<img src="https://www.dropbox.com/scl/fi/dp4fkmmb970ojt5mgmw87/3901-ohyeah.png?rlkey=k6h3hmkj82etewztxzwahgzpl&raw=1" width="70"> </p></div>




   
<div>
<span class="plus-sign"></span></p>
<p><span class="hide">[Typing: </span>Seul les administrateurs peuvent ajouter de nouveaux messages<span class="hide">]</span></p></div></div>



    






            <%- include('./includes/footer'); %>